## Pandas
Pandas es una librería de Python especializada en el **manejo y análisis de estructuras de datos**. El nombre viene de “Panel data”.
- Velocidad
- Poco código
- Multiples formatos de archivos
- Alineacion inteligente

## Pandas DataFrame
Muy parecido a las estructuras **matriciales** trabajadas con NumPy.

- Estructura principal
- Arreglo de dos dimensiones
- Búsqueda por índice (columnas o filas)
- Slicing
- Operaciones aritméticas
- Distintos tipos de datos
- Tamaño variable

In [1]:
import pandas as pd

In [2]:
psg_players = pd.Series(['Navas','Mbappe','Neymar','Messi'], index=[1,7,10,30])
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [3]:
pd.Series(['Navas','Mbappe','Neymar','Messi'])

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [5]:
dict_p = {1:'Navez',7:'Mbappe',10:'Neymar',30:'Messi'}
pd.Series(dict_p)

1      Navez
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [6]:
psg_players[1]

'Navas'

In [8]:
psg = pd.Series(['Navas','Mbappe','Neymar','Messi'])
psg

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [9]:
psg[:3]

0     Navas
1    Mbappe
2    Neymar
dtype: object

## Pandas series
Es muy parecido a un array de una dimensión (**o vector**) de NumPy.

- Arreglo unidimensional indexado
- Búsqueda por índice
- Slicing
- Operaciones aritméticas
- Distintos tipos de datos

In [11]:
dict_psg= {'Jugador':['Navas','Mbappe','Neymar','Messi'],
 'Altura': [183.0,170.0,170.0,165.0],
 'Goles': [2,200,200,200]}
df_players = pd.DataFrame(dict_psg, index=[1,7,10,30])
df_players

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    200
30   Messi   165.0    200

In [12]:
df_players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [13]:
df_players.index

Int64Index([1, 7, 10, 30], dtype='int64')